.scroll_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  font-size: 1.2rem;
  cursor: default;
  color: #25385842;

  transform: translateY(-10%);
  animation: floater 2.5s infinite;
  transition: ease 0.5s;
}

.scrollicon {
  font-size: 40px;
  margin-left: -8px;
}

.scrollarrow {
  font-size: 1.1rem;
}

/*Animations*/

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
